body {
	background: #dde;
}

.ck {
    background: #ff9200;
}

.fa-circle {
	color: #ff6f00;
}

.active-order {
	background: #fa9393;
}

.cl-bold {
	font-weight: bold;
}

.zeroColor {
	color: rgba(38, 38, 38, 0.22);
}

#dateDiv {
	margin: 20px;
}

.cl-money{
	text-align: right;
	font-weight: bold;
}

#tbOrderList td {
	border-bottom-style: solid;
	border-bottom-color: #797979;
	border-bottom-width: 2px;
}

h2 {
	background: #678;
	padding: 5px;
	margin: 10px ;
	text-align: center;
}
 
.righttext {
	text-align: right;
	/*background: #aa9;*/
}

p {
	background: #edd;
	border-radius: 5px;
	padding: 15px;
	font-size: 24px;
}

#to_in_one {
	/*background: #44ee99;*/
	border-radius: 15px;
	
    width:100%;
}

#l_div {
	/*background: #115588;*/
	border-radius: 15px;
	margin : 10px;
    width:600px;
    float:left;
}

#r_div {
	/*background: #ffffff;*/
	border-radius: 15px;
	margin : 8px;
	overflow:hidden;
	margin-left: 630px;
	
}

#container3 {
    background: #ffffff;
    width: 100%;
    height: 400px;
}

select {
    margin-left: 25%;
    align-self: center;
    width: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;                
}

.chart3 {
    
    valign: 'top';
}        