
div.login-field {
    margin-bottom: 16px;
}

.dark1 {
	background: #c90;
}

.dark2 {
	background: #b80;
}

.dark3 {
	background: #a70;
}

.btn {
/*    padding: 14px 24px;*/
    border: 0 none;
/*    margin: 10px;*/
/*    font-weight: 700;*/
    letter-spacing: 1px;
/*    text-transform: uppercase;*/
}

.error-msg {
    color: #fff;
    background: #ff6338;
    border-radius: 5px;
    margin: 0;
    padding: 0px;
    border: 0px;
    border-color: #a0a;
    text-align: center;
}

.panel-heading {
	font-size: medium;
	font-weight: bold;
}

div.order-unit {
    margin: 8px;
    padding: 8px;
    border: #5a82ae solid 2px;
    border-radius: 8px;
    background: #e3e5e5;
}

div.order-completed {
    border: #fc9593 solid 2px;
    background: #fae3e5;
}

.fa-circle {
    color: #ff6f00;
}

td.order-chek {
    text-align: end;
}

.title-field {
    font-size: 16px;
    font-weight: bold;
}

.client {
    width: 40%;
}
.distributor {
    width: 30%;
}
.order-status {
    width: 20%;
}

.table {
    margin-bottom: 4px ;
}