
div.login-field {
    margin-bottom: 16px;
}

.dark1 {
    background: #c90;
}

.dark2 {
    background: #b80;
}

.dark3 {
    background: #a70;
}

.btn {
    /*    padding: 14px 24px;*/
    border: 0 none;
    /*    margin: 10px;*/
    /*    font-weight: 700;*/
    letter-spacing: 1px;
    /*    text-transform: uppercase;*/
}

.error-msg {
    color: #fff;
    background: #ff6338;
    border-radius: 5px;
    margin: 0;
    padding: 0px;
    border: 0px;
    border-color: #a0a;
    text-align: center;
}

.panel-heading {
    font-size: medium;
    font-weight: bold;
}

div.order-unit {
    margin: 8px;
    padding: 8px;
    border: #5a82ae solid 2px;
    border-radius: 8px;
    background: #e3e5e5;
}

div.order-completed {
    border: #fc9593 solid 2px;
    background: #fae3e5;
}

.fa-circle {
    color: #ff6f00;
}

td.order-chek {
    text-align: end;
}

.title-field {
    font-size: 16px;
    font-weight: bolder;
}

.empty-barrels {
    background: #c8c8b2;
    font-style: italic;
    border-radius: 4px;
}

.table-mitana {
    background: #c8c8b2;
    align-content: end;
    border-radius: 4px;
}

.client {
    width: 40%;
}

.distributor {
    width: 30%;
}

.order-status {
    width: 20%;
}

.table {
    margin-bottom: 4px;
}

.region-container {
    padding: 12px;
}

.sale-count {
    color: #789ca9;
}

.order-unit {
    font-weight: bold;
}

.cash-money {
    border-radius: 16px;
    background-color: #9bce82;
    padding: 6px;
    margin-left: 6px;
}

.bank-money {
    border-radius: 16px;
    background-color: #8ba7ce;
    padding: 6px;
    margin-left: 6px;
}

.ricxvi {
    font-family: verdana;
    font-weight: bold;
    text-align: right;
}

.asDate {
    font-family: verdana;
}

.textToEnd {
    text-align: right;
}

.total-row {
    border-bottom: #f86d43 solid 4px;
    font-weight: bolder;
    font-size: medium;
}

.cash-row {
    background: #edffdc;
}

.bank-row {
    background: #e3f5ff;
}

.fas {
    color: #c2c2c2;
}

.fas:hover {
    color: #166504;
}

.storeHouseTitle {
    width: auto;
    color: #005555;
    margin-top: 14px;
    text-align: center;
}